language: php

sudo: false

branches:
  only:
    - master

matrix:
  include:
    - php: 7.2
      env: SYMFONY_VERSION="3.4.*"
    - php: 7.3
      env: SYMFONY_VERSION="4.4.*"
    - php: 7.4
      env: SYMFONY_VERSION="5.0.*"

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - phpenv config-rm xdebug.ini || echo "xdebug not available"
  - composer self-update
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/symfony:${SYMFONY_VERSION}; fi;

install:
  - composer install --no-interaction

script:
  - php vendor/bin/phpunit --testsuite=functional
